.landing{
    padding-top: 20px;
    padding-left: 10px;
}

.fullscreen{
    height: 100% !important;
}

.text-center{
    text-align: center !important;
}

.img-round{
    border-radius: 10px;
}

.vertical-center{
    vertical-align: middle !important;
}

.landing-top{
    padding-top: 15%;
}

.text-muted{
    color: rgb(146, 146, 146) !important;
}

.bottom{
    bottom: 0px !important;
}

.spazio-lato{
    padding-left: 3%;
    padding-right: 3%;
}

.landing-half{
    padding-top: 50%;
}

.padding-right-minimum{
    padding-right: 5px !important;
}

.text-white{
    color: white !important;
}

.text-left{
    text-align: left !important;
}

.text-on-image{
    text-align: center !important;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 5px 5px 5px black !important;
}


.tabbar{
    /* background-color: #86B049 !important;
    color: white !important; */
    border-radius: 34px !important;
    margin: 10px 15px 15px 15px !important;
    padding: 12px 12px 12px 12px !important;
}


.tabbar-icon{
    font-size: 27px !important;
}

.profile-pic{
    border-radius: 50% !important;
}

.diary-card{
    background-color: #B4CE8F !important;
    border-radius: 15px !important;
}

.diary-card-picture{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}