.landing{
    padding-top: 20px;
    padding-left: 10px;
}

.fullscreen{
    height: 100% !important;
}

.text-center{
    text-align: center !important;
}

.img-round{
    border-radius: 10px;
}

.vertical-center{
    vertical-align: middle !important;
}

.landing-top{
    padding-top: 15%;
}

.text-muted{
    color: rgb(146, 146, 146) !important;
}

.bottom{
    bottom: 0px !important;
}

.spazio-lato{
    padding-left: 3%;
    padding-right: 3%;
}

.landing-half{
    padding-top: 50%;
}

.padding-right-minimum{
    padding-right: 5px !important;
}

.text-white{
    color: white !important;
}

.ios .spazio-fondo{
    padding-bottom: 5%;
}

.text-left{
    text-align: left !important;
}

.text-on-image{
    text-align: center !important;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 5px 5px 5px black !important;
}