@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;400;700&display=swap');

body{
    font-family: 'Inter', sans-serif;
}

.bt-header{
    font-size: 25px !important;
}

.bt-padding-top{
    padding-top: 15px !important;
}

.bt-same-height{
    height: 100%;
}

.bt-inherit{
    background-color: inherit !important;
}

.bt-space-side{
    padding-left: 10% !important;
    padding-right: 10% !important;
}

ion-segment-button::part(indicator-background) {
    background: #DEE7D2 !important;
  }

ion-segment-button.ios::part(native) {
    border-radius: 20px;
}

.segment-button-checked.ios::part(native) {
    background-color: #DEE7D2;
    color: #383838;
}

ion-segment-button.ios::part(indicator-background) {
  border-radius: 20px;
}

.landing{
    padding-top: 20px;
    padding-left: 10px;
}

.fullscreen{
    height: 100% !important;
}

.text-center{
    text-align: center !important;
}

.img-round{
    border-radius: 10px;
}

.vertical-center{
    vertical-align: middle !important;
}

.landing-top{
    padding-top: 15%;
}

.text-muted{
    color: rgb(146, 146, 146) !important;
}

.bottom{
    bottom: 0px !important;
}

.spazio-lato{
    padding-left: 3%;
    padding-right: 3%;
}

.landing-half{
    padding-top: 50%;
}

.padding-right-minimum{
    padding-right: 5px !important;
}

.text-white{
    color: white !important;
}

.text-left{
    text-align: left !important;
}

.text-on-image{
    text-align: center !important;
    position: absolute;
    top: 22%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white !important;
    text-shadow: 5px 5px 5px black !important;
}


.tabbar{
    /* background-color: #86B049 !important;
    color: white !important; */
    border-radius: 34px !important;
    margin: 10px 15px 20px 15px !important;
    padding: 12px 12px 12px 12px !important;
}


.tabbar-icon{
    font-size: 27px !important;
}

.profile-pic{
    border-radius: 50% !important;
}

.diaries-card{
    background-color: #F3F3F3 !important;
}

.diary-card{
    display: flex;
    border-radius: 15px !important;
}

.diary-card-picture{
    width: 50%;
    height: 100%;
    
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.diary-card-content{
    background-color: #DAE4CB !important;
    color: #3E3E3E !important;
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.diary-card-left{
    border-top-left-radius: 15px !important;
    border-bottom-left-radius: 15px !important;
}

.diary-card-right{
    border-top-right-radius: 15px !important;
    border-bottom-right-radius: 15px !important;
}

.bold{
    font-weight: bold !important;
    font-weight: 700 !important;
}

.people-recent-card{
    background-color: #F3F3F3 !important;
    color: #383838 !important;
}